head
  title simple
body
  h1 Welcome to Meteor!
  |  {{> hello}} {{> info}}
template(name='hello')
  button Click Me
  p You've pressed the button {{counter}} times.
template(name='info')
  h2 Learn Meteor!
  ul
    li
      a(href='https://www.meteor.com/try') Do the Tutorial
    li
      a(href='http://guide.meteor.com') Follow the Guide
    li
      a(href='https://docs.meteor.com') Read the Docs
    li
      a(href='https://forums.meteor.com') Discussions
